$primary: {{ OLIX_PRIMARY_COLOR }};
$secondary: {{ OLIX_SECONDARY_COLOR }};
$info: {{ OLIX_INFO_COLOR }};
$warning: {{ OLIX_WARNING_COLOR }};
$success: {{ OLIX_SUCCESS_COLOR }};

// Theme fonts
$font-family-title: Plex;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';